/* Variables */
:root {
    /* Palettes */
    --palette-dark1: #07070A;
    --palette-dark1-alpha: #07070A0F;
    --palette-dark2: #1a1e1e;
    --palette-dark2-alpha: #1a1e1e0F;
    --palette-dark3: #041F1E;
    --palette-mid1: #24272B;
    --palette-mid2: #4A525A;
    --palette-mid2-alpha: #4A525A1F;
    --palette-light1: #004BA8;
    --palette-light1-alpha: #004BA82F;
    --palette-light2: #3E78B2;
    --palette-light3: #dee7f0;

    /* Scrollbars */

    --bg-scrollbar-track: var(--palette-dark1);
    --bg-scrollbar-thumb: var(--palette-light1);
    --bg-scrollbar-thumb-hover: var(--palette-light2);

    /* Nav */
    --nav-bg-button: var(--palette-dark1-alpha);
    --nav-bd: solid 1px var(--palette-dark3);
    --nav-button-bd-radius: 7px;

    --nav-button-bg-close: #ff300050;
    --nav-button-bg-maximize: #7bff0050;
    --nav-button-bg-minimize: #0084ff50;
    --nav-button-bg-menu: var(--palette-mid1);
    --nav-button-bg-filter: blur(5px) brightness(76%);

    --nav-menu-bg-default: var(--palette-mid1);
    --nav-menu-width: 100%;

    --nav-sh-box: 0px 0px .25em var(--palette-dark2) inset, 0px .015em .1em #000;
    --nav-sh-menu: 0px 0px .25em var(--palette-dark2) inset, 0px .015em .1em #00000020;

    /* Fonts */
    --font-main: MainFont;
    --font-fancy: FancyFont;
    --font-header: FancyFont;

    /* Foreground Colors */
    --fg-default: var(--palette-light3);

    --fg-select-dom: var(--palette-light3);
    --fg-select-dom-hover: var(--palette-light2);

    --fg-grid-linecolor1: transparent;
    --fg-grid-linecolor2: var(--palette-light1);

    /* Background Colors */
    --bg-default: linear-gradient(0deg, var(--palette-dark1) 0%, var(--palette-dark2) 100%);
    --bg-header: var(--palette-dark2);
    --bg-footer: var(--palette-dark2);

    --bg-sidebar: var(--palette-dark2);

    --bg-select-dom: var(--palette-dark2-alpha);
    --bg-select-dom-hover: var(--palette-dark1);

    /* Shadows */
    --sh-text-default: 0px 0px .0125em #000,
        .0125em .0125em .0125em var(--palette-dark1),
        .0125em -.0125em .0125em var(--palette-dark2),
        -.0125em -.0125em .0125em var(--palette-dark1),
        -.0125em .0125em .0125em var(--palette-dark3);

    --sh-box-win: .015em .015em 1em #000, 0px 0px .05em var(--palette-mid2) inset;
    --sh-box-default: .015em .015em .015em #000, 0px 0px .05em var(--palette-mid2) inset;
    --sh-header: 0px 1px .05em var(--palette-dark1);
    --sh-footer: 0px -1px .05em var(--palette-dark1);

    /* Borders */
    --bd-default: solid 1px var(--palette-mid1);
    --bd-default-side-top-color: var(--palette-mid1);
    --bd-default-side-bottom-color: var(--palette-mid2);
    --bd-default-side-left-color: var(--palette-mid1);
    --bd-default-side-right-color: var(--palette-mid2);

    --bd-input-select: solid 1px var(--palette-mid1);

    --bd-sidebar: dashed 1px var(--palette-mid2-alpha);

    --bd-default-radius: 6px;
    --bd-win-radius: 16px;

    /* Margins / Paddings */

    --pd-standard: .25em;
    --pd-standard-half: .125em;
    --pd-standard-quarter: .0625em;

    /* Filters */
}